@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont_slnt,wght.ttf'), format('ttf'), tech('variations');
}

@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body, #root {
  width: 360px;
  height: 600px;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: 'Inter';
}

:root {
  --purple: 108 105 252;
  --green: 52 187 168;
  --red: 255 97 126;
  --gray: 129 140 153;
  --gray-light: 245 245 247;
  --gray-dark: 104 113 123;
  /*--purple-gradient: linear-gradient(40deg, #6A67FB 0.15%, #8D71FF 100%);*/
}
