@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont_slnt,wght.ttf'), format('ttf'), tech('variations');
}

@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body, #root {
  width: 360px;
  height: 600px;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: 'Inter';
}

:root {
  --Purple-gradient: linear-gradient(40deg, #6A67FB 0.15%, #8D71FF 100%);
  --Purple-bg: #6A67FB;
  --Purple-bg-light: #F3F3FF;
  --Purple-text: #6C69FC;
  --Gray-text: #818C99;
  --Gray-input-bg: #F5F5F7;
  --Gray-icon-stroke: #68717B;
  --Green-validation-text: hsl(172, 56%, 47%);
  --Green-validation-bg: hsla(172, 56%, 47%, 15%);
  --Red-validation-text: hsl(349, 100%, 69%);
  --Red-validation-bg: hsla(349, 100%, 69%, 15%);
}
